.siteDown {
  background: url("../../img/siteDown_lg.jpg") no-repeat center center fixed;
  background-size: cover; }

@media screen and (max-width: 480px) {
  .siteDown {
    background: url("../../img/siteDown_sm.jpg") no-repeat center center fixed;
    background-size: cover; } }
