.siteDown{
	background:url('../img/siteDown_lg.jpg') no-repeat center center fixed;
	background-size:cover;
	.logo{
		background:url('../img/logo_large.png') no-repeat center center fixed;
		background-size:contain;
		position:absolute;bottom:30px;
		width:150px;height:60px;
	}
}

@media screen and (max-width: 480px) {
	.siteDown{
		background:url('../img/siteDown_sm.jpg') no-repeat center center fixed;
		background-size:cover;
		.logo{
			background:url('../img/logo_large.png') no-repeat center center fixed;
			background-size:contain;
			position:absolute;bottom:30px;
			width:150px;height:60px;
		}
	}
}
